In [71]:
import pandas as pd
import numpy as np
import ast
!pwd

/exports/csce/datastore/geos/users/s2135982/rivertools/mlfluv/script

In [72]:
data_path = '../exp_data.csv'

df = pd.read_csv(data_path)

df[['log_num', 'tune_log_num']] = df[['log_num', 'tune_log_num']].astype(int)

# Convert the 'Class wise IoU' column back to list of floats instead of a string
df['Class wise IoU'] = df['Class wise IoU'].apply(ast.literal_eval) 
print(df['Class wise IoU'][1])

# print(df['Class wise IoU'].head(2))

[0.0, 0.9153899427117973, 0.7031360852307287, 0.837030225375603, 0.0, 0.0, 0.45408872468718164]

In [82]:
df.sort_values(by=['log_num', 'tune_log_num', 'distill_lamda', 'temperature'])

,log_num,which_label,weights,tune_log_num,distill_lamda,temperature,Mean IoU,Micro IoU,Macro IoU,Accuracy,Precision,Class wise IoU,tree,SR vegetation,water,urban,bare ground,fluvial sediment
0,1001,ESRI,inverse_log,0,0.0,1.0,0.499,0.868,0.492,0.976,0.929,"[0.0, 0.9252935384881907, 0.7428742435471765, ...",0.925294,0.742874,0.872361,0.000000,0.451173,NaN
1,1001,ESRI,inverse_log,1,0.0,1.0,0.416,0.844,0.411,0.976,0.915,"[0.0, 0.9153899427117973, 0.7031360852307287, ...",0.915390,0.703136,0.837030,0.000000,0.000000,0.454089
12,1001,ESRI,inverse_log,2,0.0,0.1,0.417,0.842,0.415,0.976,0.914,"[0.0, 0.9121360515726024, 0.6953245169129865, ...",0.912136,0.695325,0.846264,0.000000,0.000000,0.462463
19,1001,ESRI,inverse_log,3,0.0,0.5,0.444,0.846,0.470,0.976,0.916,"[0.0, 0.9077670208339034, 0.6848213113587478, ...",0.907767,0.684821,0.842335,0.266860,0.000000,0.408736
20,1001,ESRI,inverse_log,4,0.0,2.0,0.475,0.842,0.484,0.975,0.914,"[0.0, 0.907280026633164, 0.6814200014903627, 0...",0.907280,0.681420,0.818080,0.469673,0.000000,0.450399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,3002,ESAWC,inverse_count,22,1.0,1.0,0.214,0.638,0.220,0.937,0.779,"[0.0, 0.7392220616340637, 0.012683488835845592...",0.739222,0.012683,0.744627,0.000000,0.000000,0.001299
145,3002,ESAWC,inverse_count,23,1.0,0.1,0.142,0.583,0.144,0.925,0.737,"[0.0, 0.7094986907367049, 0.06104952320456505,...",0.709499,0.061050,0.222772,0.000000,0.000000,0.000000
146,3002,ESAWC,inverse_count,24,1.0,0.5,0.171,0.599,0.174,0.928,0.749,"[0.0, 0.7144840577553059, 0.00619892331065032,...",0.714484,0.006199,0.475875,0.000000,0.000000,0.001353
147,3002,ESAWC,inverse_count,25,1.0,2.0,0.233,0.685,0.243,0.947,0.813,"[0.0, 0.8011895085203237, 0.2519480292139382, ...",0.801190,0.251948,0.576734,0.000000,0.000000,0.001060
148,3002,ESAWC,inverse_count,26,1.0,10.0,0.187,0.481,0.188,0.900,0.650,"[0.0, 0.6289572193704802, 0.23786329257077185,...",0.628957,0.237863,0.442222,0.000089,0.000000,0.000039

In [74]:
# Define class names and their corresponding indices
class_names = ['tree', 'SR vegetation', 'water', 'urban', 'bare ground', 'fluvial sediment']

# Function to extract IoU values for each class
def extract_iou_values(iou_list):
    result = {}
    for i, class_name in enumerate(class_names, start=1):
        if i < len(iou_list):
            result[class_name] = iou_list[i]
        else:
            result[class_name] = np.nan
    return result

# Apply the function to each row and create new columns
iou_values = df['Class wise IoU'].apply(extract_iou_values)
iou_df = pd.DataFrame(iou_values.tolist())

# Concatenate the original DataFrame with the new columns
df = pd.concat([df, iou_df], axis=1)

,log_num,which_label,weights,tune_log_num,distill_lamda,temperature,Mean IoU,Micro IoU,Macro IoU,Accuracy,Precision,Class wise IoU,tree,SR vegetation,water,urban,bare ground,fluvial sediment
0,1001,ESRI,inverse_log,25,1.00,10.0,0.499,0.868,0.492,0.976,0.929,"[0.0, 0.9252935384881907, 0.7428742435471765, ...",0.925294,0.742874,0.872361,0.000000,0.451173,NaN
1,1001,ESRI,inverse_log,1,0.00,1.0,0.416,0.844,0.411,0.976,0.915,"[0.0, 0.9153899427117973, 0.7031360852307287, ...",0.915390,0.703136,0.837030,0.000000,0.000000,0.454089
2,1001,ESRI,inverse_log,10,0.25,10.0,0.372,0.832,0.375,0.974,0.908,"[0.0, 0.90312027150187, 0.6674637578684708, 0....",0.903120,0.667464,0.848046,0.000000,0.001176,0.182621
3,1001,ESRI,inverse_log,11,0.50,1.0,0.341,0.823,0.340,0.972,0.903,"[0.0, 0.8951115119046178, 0.6533844988921593, ...",0.895112,0.653384,0.840803,0.000000,0.000000,0.000063
4,1001,ESRI,inverse_log,12,0.50,0.1,0.341,0.822,0.342,0.972,0.902,"[0.0, 0.8889798908398069, 0.6502622844844029, ...",0.888980,0.650262,0.849794,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,3002,ESAWC,inverse_count,5,0.00,2.0,0.349,0.787,0.368,0.966,0.881,"[0.0, 0.8706197290584958, 0.6349860273558517, ...",0.870620,0.634986,0.688871,0.250086,0.000000,0.000000
152,3002,ESAWC,inverse_count,6,0.00,10.0,0.359,0.787,0.385,0.966,0.881,"[0.0, 0.8707560633790904, 0.6186940267168243, ...",0.870756,0.618694,0.669829,0.354786,0.000000,0.000000
153,3002,ESAWC,inverse_count,7,0.25,1.0,0.214,0.643,0.220,0.938,0.782,"[0.0, 0.7471071362495423, 0.03593445863446285,...",0.747107,0.035934,0.714304,0.000000,0.000000,0.000041
154,3002,ESAWC,inverse_count,8,0.25,0.1,0.194,0.636,0.193,0.936,0.777,"[0.0, 0.7568607507080868, 0.21632032959625638,...",0.756861,0.216320,0.381568,0.000000,0.000000,0.000006
155,3002,ESAWC,inverse_count,9,0.25,0.5,0.201,0.624,0.207,0.934,0.768,"[0.0, 0.727816028430544, 0.0006001611621255067...",0.727816,0.000600,0.667721,0.000000,0.000000,0.012699

In [81]:
# Select rows where 'fluvial sediment' IoU is NaN
init_df = df[df['fluvial sediment'].isna()]

# Update 'tune_log_num' to 0 for these selected rows to represent these models are the initial models
df.loc[init_df.index, 'tune_log_num'] = 0
df.loc[init_df.index, 'temperature'] = 1
df.loc[init_df.index, 'distill_lamda'] = 0

In [91]:
# Find best models of both initial train and fine tune
best_miou_idx = df.groupby('which_label')['Mean IoU'].idxmax()
best_mIoU_param = df.loc[best_miou_idx]
# print(best_model_param)
print(best_mIoU_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water', 'bare ground', 'fluvial sediment']])

     log_num  tune_log_num  distill_lamda  temperature  Mean IoU     water  \
78      2002             0            0.0          1.0     0.464  0.853746
104     3001             0            0.0          1.0     0.411  0.824797
26      1002             0            0.0          1.0     0.542  0.835017

     bare ground  fluvial sediment
78      0.291854               NaN
104     0.000000               NaN
26      0.375404               NaN

In [95]:
# Find best models of fine tune only
# Exclude the initial trained models
filtered_df = df[~df['fluvial sediment'].isna()]

best_miou_idx = filtered_df.groupby('which_label')['Mean IoU'].idxmax()
best_mIoU_param = filtered_df.loc[best_miou_idx]
# print(best_model_param)
print(best_mIoU_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water', 'bare ground', 'fluvial sediment']])

     log_num  tune_log_num  distill_lamda  temperature  Mean IoU     water  \
100     2002             6           0.00         10.0     0.457  0.836788
150     3002             4           0.00          0.5     0.371  0.679868
49      1002             7           0.25          0.1     0.501  0.837815

     bare ground  fluvial sediment
100     0.015973          0.476904
150     0.000000          0.000000
49      0.000000          0.457098

In [99]:
# Find best models of predicting water. Exclude the initial trained models
best_water_idx = filtered_df.groupby('which_label')['water'].idxmax()
best_water_param = filtered_df.loc[best_water_idx]
print(best_water_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water', 'bare ground', 'fluvial sediment']])

     log_num  tune_log_num  distill_lamda  temperature  Mean IoU     water  \
73      2001             5           0.00         10.0     0.385  0.840798
119     3001            23           1.00          0.1     0.333  0.763697
11      1001            19           0.75          2.0     0.407  0.857322

     bare ground  fluvial sediment
73           0.0          0.484286
119          0.0          0.000254
11           0.0          0.422830

In [100]:
# Find best models of predicting sediment. Exclude the initial trained models
best_water_idx = df.groupby('which_label')['fluvial sediment'].idxmax()
best_water_param = df.loc[best_water_idx]
print(best_water_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water', 'urban', 'bare ground', 'fluvial sediment']])

     log_num  tune_log_num  distill_lamda  temperature  Mean IoU     water  \
72      2001             4           0.00          2.0     0.383  0.830407
142     3002            20           0.75          2.0     0.220  0.471257
47      1002             5           0.00         10.0     0.452  0.800636

        urban  bare ground  fluvial sediment
72   0.000000     0.006314          0.488580
142  0.000000     0.000000          0.016534
47   0.226746     0.096410          0.551554

In [103]:
# Find best models of predicting bare ground. Exclude the initial trained models
best_water_idx = filtered_df.groupby('which_label')['bare ground'].idxmax()
best_water_param = filtered_df.loc[best_water_idx]
print(best_water_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water','urban', 'bare ground', 'fluvial sediment']])

     log_num  tune_log_num  distill_lamda  temperature  Mean IoU     water  \
99      2002             5           0.00          2.0     0.430  0.823298
143     3002            21           0.75         10.0     0.220  0.594977
47      1002             5           0.00         10.0     0.452  0.800636

        urban  bare ground  fluvial sediment
99   0.324462     0.043452          0.328851
143  0.000000     0.000082          0.000000
47   0.226746     0.096410          0.551554

In [ ]:
# Find best models of predicting bare ground. Exclude the initial trained models
best_water_idx = filtered_df.groupby('which_label')['bare ground'].idxmax()
best_water_param = filtered_df.loc[best_water_idx]
print(best_water_param[['log_num', 'tune_log_num', 'distill_lamda', 'temperature', 'Mean IoU', 'water','urban', 'bare ground', 'fluvial sediment']])